node_modules
dist
.astro
.git
.gitignore
.env
.env.*
!.env.example
.env.docker*
!.env.docker
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
docker-compose.yml
Dockerfile
