---
import { loginPlayer } from "../db/repository/session";
import { getCurrentPlayerId, setSessionCookie } from "../db/utils/session";
import Entry from "../layouts/entry.astro";
const { request } = Astro;

// Check if user is already logged in
const user = await getCurrentPlayerId(Astro.cookies);
if (user) {
	return Astro.redirect("/toolkit");
}

let error: string | null = null;

if (request.method === "POST") {
	const formData = await request.formData();
	const email = formData.get("email")?.toString() || "";
	const password = formData.get("password")?.toString() || "";

	if (!email || !password) {
		error = "Email and password are required.";
	} else if (password.length < 8) {
		error = "Password must be at least 8 characters long.";
	}
	try {
		const playerSession = await loginPlayer(email, password);
		setSessionCookie(Astro.cookies, playerSession);
		return Astro.redirect("/toolkit");
	} catch (e) {
		console.error("Error logging in:", e);
		error = "Invalid email or password.";
	}
}
---

<Entry>
	<div class="card max-w-lg bg-base-200 w-full">
		<form class="card-body gap-5 *:w-full" method="POST">
			<h1 class="card-title">Sign into Dweomer Toolkit</h1>
			<input
				placeholder="Email"
				class="input"
				type="email"
				id="email"
				name="email"
				required
			/>
			<input
				placeholder="Password"
				class="input"
				type="password"
				id="password"
				name="password"
				required
			/>
			{error && <p class="text-error">{error}</p>}
			<div class="card-actions justify-between">
				<a class="btn btn-secondary btn-ghost" href="/signup"
					>Sign up with invitation</a
				>
				<button class="btn btn-primary" type="submit"
					>Sign in with your account</button
				>
			</div>
		</form>
	</div>
</Entry>
