---
import { signupPlayer } from "../db/repository/player";
import { setSessionCookie } from "../db/utils/session";
import Entry from "../layouts/entry.astro";
import { assertUserOrRedirect, postHandler } from "../utils/routing";

export const prerender = false;

await assertUserOrRedirect(Astro);

await postHandler(Astro.request, async (request: Request) => {
  const formData = await request.formData();
  const email = formData.get("email")?.toString() || "";
  const password = formData.get("password")?.toString() || "";
  const repeatPassword = formData.get("repeat-password")?.toString() || "";
  const invitation = formData.get("invitation")?.toString() || "";

  if (!email || !password || !repeatPassword || !invitation) {
    throw new Error("Email, password, and invitation code are required");
  }
  if (password !== repeatPassword) {
    throw new Error("Passwords do not match");
  }

  const playerSession = await signupPlayer(email, password, invitation);
  setSessionCookie(Astro.cookies, playerSession);
  return Astro.redirect("/toolkit");
});
---

<Entry>
  <div class="card max-w-lg bg-base-200 w-full">
    <form class="card-body gap-5 *:w-full" method="POST">
      <h1 class="card-title">Sign up using an invitation code</h1>
      <input
        placeholder="Invitation code"
        class="input"
        type="text"
        id="invitation"
        name="invitation"
        required
      />
      <div class="divider">Then setup your account</div>

      <input
        placeholder="Email"
        class="input"
        type="email"
        id="email"
        name="email"
        required
      />
      <input
        class="input"
        type="password"
        id="password"
        name="password"
        placeholder="Choose a strong, unique password"
        required
      />
      <input
        class="input"
        type="password"
        id="repeat-password"
        name="repeat-password"
        placeholder="Repeat your password"
        required
      />

      <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
  </div>
</Entry>
