---
import ToolkitLayout from "../layouts/toolkit.astro";
---

<ToolkitLayout>
  <h1 class="text-3xl font-bold">Welcome to your Dweomer Toolkit Dashboard</h1>
  <p class="text-lg">Manage your campaigns and characters here.</p>
</ToolkitLayout>
