---
import { actions } from "astro:actions";
import { getPlayerInGame, getPlayersInGame } from "../db/repository/game";
import { getCurrentPlayerId } from "../db/utils/session";

const gameId = Astro.props.gameId;

const userId = await getCurrentPlayerId(Astro.cookies);
if (!userId) {
  console.error("No user logged in, redirecting to /");
  return Astro.redirect("/");
}
const players = await getPlayersInGame(gameId, userId);
---

<table class="table table-sm table-zebra w-full">
  <tbody>
    {
      players.map((player) => (
        <tr>
          <td>
            <span class="mask mask-squircle text-secondary bg-amber-200 w-6 h-6 flex items-center justify-center font-semibold">
              {player.characterName
                .split(" ")
                .map((n) => n.charAt(0).toUpperCase())
                .join("")}
            </span>
          </td>
          <td>{player.characterName}</td>
        </tr>
      ))
    }
  </tbody>
</table>
