---
import { PATHFINDER_1_SHEET } from "../../../../../data/sheets/pathfinder";
import ToolkitLayout from "../../../../../layouts/toolkit.astro";

const sheet = PATHFINDER_1_SHEET;
---

<ToolkitLayout>
  <section class="flex flex-col p-5 gap-5">
    <h1 class="font-medium text-lg">Character Sheet</h1>

    <div class="columns-1 md:columns-2 gap-5">
      {
        sheet.groups.map((group) => (
          <div class="w-xl p-5 flex flex-col bg-base-200 rounded-2xl mb-5 break-inside-avoid gap-5">
            <h2 class="font-semibold text-success">{group.label}</h2>

            <div class="grid grid-cols-3 gap-4">
              {group.fields.map((item) => (
                <div class="max-w-xs gap">
                  <label
                    class="flex flex-col gap-2 text-xs text-success"
                    html-for={item.key}
                  >
                    {item.label}
                    <input
                      class="input input-success input-sm"
                      id={item.key}
                      value={item.input === "number" ? 0 : undefined}
                      type={item.input as any}
                    />
                  </label>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </section>
</ToolkitLayout>
