---
import "../styles/global.css";

import { getCurrentPlayerId } from "../db/utils/session";

const user = await getCurrentPlayerId(Astro.cookies);

if (!user) {
  console.error("No user logged in, redirecting to /");
  return Astro.redirect("/");
}
---

<html lang="en" data-theme="coffee">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dweomer Toolkit</title>
  </head>
  <body>
    <header class="navbar justify-between bg-base-300">
      <a class="btn btn-ghost normal-case text-xl" href="/">Dweomer Toolkit</a>
      <nav class="flex wjustify-between gap-4">
        <a class="link-primary" href="/toolkit">Dashboard</a>
        <a class="link-primary" href="/logout">Logout</a>
      </nav>
    </header>
    <main class="flex flex-row w-full p-10 gap-5 items-start">
      <slot />
    </main>
  </body>
</html>
